<h2>Cadastrar Novo Evento</h2>

<div class="example-container">

  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

    <label>
      First Name:
      <input type="text" formControlName="eventName">
    </label>

    <label>
      First Name:
      <input type="text" formControlName="branding">
    </label>

    <label>
      First Name:
      <input type="text" formControlName="date">
    </label>

    <label>
      First Name:
      <input type="text" formControlName="description">
    </label>

    <label for="">
      First Name:
      <input type="file" formControlName="file">
    </label>

    <button type="submit">Enviar</button>

  </form>

  


</div>