<h2>Cadastrar Novo Evento</h2>

<div class="example-container">

  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Event Name" formControlName="eventName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Branding" formControlName="branding">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Date"  type="date" formControlName="date">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

      <input type="file" placeholder="Enviar Arquivo" formControlName="file" (change)="onFileSelected($event)">
      <!-- <button (click)="onUpload()"> Upload</button>   -->
    
    <br>  
    <button mat-raised-button color="primary" type="submit" class="btnSalvar">Salvar</button>

  </form>




</div>