.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.btnSalvar {
  background-color: black !important;
  color:  #C4AF95 !important;
  float: right;
}
